@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #111;
}

footer{
  padding: 5px;
  margin-top: auto;
  text-align: center;
  color: #369034;
  background-color: #000;
  opacity: 0.5;
  font-weight: 600;
}

/* MAP-FUNC */
.country:hover{
  fill: rgb(58, 238, 58);
}